.-album{
	display: none;
}

.slideWrapper{
	height: auto;
	width: 49em;
	margin-left: auto;
	margin-right: auto;
}

.slide{
	width: 15em; 
	height: auto;	
	float: left;
}

.s2{
	margin-left: 2em;
	margin-right: 2em;
}

.photo img{
	width: 15em;
	height: 15em;		
	margin-bottom: 2em;
	box-shadow:0 0 10px 1px rgba(0,0,0,.8);
}

@media screen and (max-width: 480px){
	.slide{
		float: none;
	}
	.slideWrapper{
		height: auto;
		width: 15em;
	}
	.s2{
		margin-left: 0em;
		margin-right: 0em;
	}

}
