@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Nunito');

*{
	box-sizing: border-box;	
}

.snow{position:absolute;top:0;color:#fff;}

.header{
	font-family: 'Gloria Hallelujah', cursive;
	width: 100%;
	background-image:url(img/mountain1.jpg);
	background-size: cover;
	height: 25em;
	object-fit:cover;
	box-shadow:0 0 1em 0.5em rgba(165, 231, 255,.87) inset;
}

.bar{
	background: linear-gradient(180deg, transparent, rgba(250, 250, 250, 0.3));
	height: 3em;
	width: 100%;	
	display: inline-block;
}

.bar-left{
	width: 40%;
	height: 100%;
	float:left;	
	display: inline-block;
	padding-left: 1em;
	font-size: 1.5em;	
}

.bar-right{
	width: 60%;	
	height: 100%;
	float: right;
	display: inline-block;
	padding-right: 1em;
	font-size: 1.4em;	
	text-align: right;
}

.menu{
	display: inline-block;
	vertical-align: sub;
	margin-right: 1em;
}

.menu img{
	height: 1em;
	width: 1em;	
}

.header-txt{	
	text-align: center;	
	font-family: 'Nunito', sans-serif;
}

.header-photo img{	
	height: 7em;
	width: 7em;
}

.header-txt-1{
	font-size: 2.5em;
}

.header-txt-2{
	font-size: 2.5em;
	font-family:DFKai-sb;
}

.header-icon{
	padding-top: 2em;
}

.header-icon img{
	height: 3em;
	width: 3em;
	margin-right: 1em; 
}

.body{
	background-color: #a5e7ff;
	width: 100%;
	height: 100em;
	padding-top: 5em;
	font-family:DFKai-sb;
	clear:both;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

.article{
	width: 50em;
	height: 20em;
	background-color: white;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;	
	box-shadow:0 0 10px 1px rgba(0,0,0,.2);
}

.article-title{
	height: 20%;
	width: 100%;
}

.article-title-icon{
	padding-top: 0.5em;
	height: 0.1em;
	float: left;
}

.article-title-icon img{
	height: 3em;
}

.article-title-txt{
	padding-top: 0.6em;
	font-size: 1.8em;
	float: left;
}

.article-content{
	height: 60%;
	width: 100%;
	background-color: #edeff2;
	padding-top: 1em;
	padding-left: 2em;
	display: inline-block;
}

.article-content img{
	height: 10em;
	width: 10em;
	margin-right: 1em;
	float: left;
}

.article-content div{
	font-size: 2em;
}

.article-bottom{
	height: 20%;
	width: 100%;
	padding-top: 1.2em;
}

.article-bottom-l{	
	padding-left: 1em;
	float: left;
	font-size: 1.5em;
}

.article-bottom-l img{
	height: 1em;
	width: 1em;
}

.article-bottom-r{
	padding-right: 2em;
	float: right;
}

#top{
	position: fixed;
	height: 3em;
	width: 3em;
	bottom: 5em;
	right: 3em;
}

.footer{
	font-family: 'Gloria Hallelujah', cursive;
	width: 100%;
	height: 3em;
	padding-top: 0.5em;
	text-align: center;
}

@media screen and (min-width: 480px) {
    body {
        
    }
}